.Home {

}

p {
    margin-left: 0.5em;
}

img {
    display: block;
    margin: auto;
}

.image-reel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding-top: 50px;
    padding-bottom: 30px;
}

.image-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-caption {
    font-family: 'Times New Roman', Times, serif;
}

.arrows {
    cursor: pointer;
}


.nav-link {
    color: antiquewhite;
    font-weight: 600;
}

.nav-link :hover {
    color: rgb(115, 115, 115);
}