html {
  width: screen;
  height: screen;
  background-color:rgb(25, 25, 25);
  color:antiquewhite;
}

body {
  margin: auto;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 700px;
}

.root {
  width: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

article {
  padding: 5px 25px;
}

section {
  padding: 0 10px;
  width: 100%;
}

img {
  border-radius: 10px;
  padding-top: 5px;
}

a {
  color: antiquewhite;
}